<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSPROBE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iOSPROBE_EXAMPLE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9E991E21FF4818F007D6180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9E991EB1FF4818F007D6180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9E992741FF4831B007D6180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9E992871FF4831C007D6180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9E992921FF4831C007D6180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
